<nav>
  <ul>
    <li>
      <a routerLink="1-simple-example">1. Simple</a>
    </li>
    <li>
      <a routerLink="2-simple-example-binding">2. Binding</a>
    </li>
    <li>
      <a routerLink="3-simple-example-smart">3. Smart</a>
    </li>
    <li>
      <a routerLink="4-angular-material">4. Material</a>
    </li>
    <li>
      <a routerLink="5-global-configuration">3. Configuration</a>
    </li>
    <li>
      <a routerLink="6-infinite-scroll">3. Scroll</a>
    </li>
  </ul>
</nav>

<!--<router-outlet></router-outlet>-->
